__pycache__/
.RData
.Rhistory
.DS_Store
*.log
*.out
*.xls
*.xlsx
*.rtf
*.txt
results/*
!results/.gitkeep
.Rproj.user
.Rhistory
GoFHD.Rproj
GRASP/
real_data_cortisol/data/*
!real_data_cortisol/data/.gitkeep
real_data_cortisol_boxplot.R
real_data_wine/*
!real_data_wine/.gitkeep
real_data_wine_plot.R